@charset "UTF-8";
*{
    margin:0;
    padding:0;
}
:root{
    --cor:#ebe2e2;
    --grey-0: #f5f5f5;
    --blue-2: #b3dbff;
    --blue-4: #47afff;
    --blue-5: #0095f6;
    --blue-6: #0074cc;
    --blue-7: #0057a3;
    --blue-9: #002952;

}
html{
    background-color:#f5f5f5;
    text-align: center;
    min-width: 300px;

}
header{
    padding: 30px;
    margin:auto;
    width: 100px;
    align-items: center;
}
div img{
    width: 175px;
    right: 51px;
    padding:2rem;
    margin: 10px 0px -3px;
}

form{
    background-color: white;
    width: 360px;
    height: 425px;
    border: solid 1px  #e4d7d7;   
    align-items: center;
    display: inline-block;

}
form input{
    background-color:#fcf9f9;
    flex-wrap: wrap;
    outline: none;
    border-color: none;
    border: solid 1px #dfd9d9;
    width: 267px;
    padding: 9px;
    margin: 8px;
    margin-bottom: 8px;
}
form #botao{
    background-color:#47afff;
    padding: 5px;
    margin: 0px;
    margin-bottom: 3rem;
    color: white;
    font-size: 1rem;
    width: 289px;
    border: none;
    border-radius: 5px;
}
div #img{
    width: 10px;
    right: 25px;
    margin: 0px;
    padding: 0px;
}
div{
    display: block;
}
div #cadastro1{
    display:contents;
}
a{ 
    color: #47afff;
    text-decoration: none;
}
form.rodape{
    background-color:#f5f5f5;
    border: none;
}

footer img.imagem{
    background-color: white;
    display: inline-block;
    bottom: -50%;
    width: 134px;
    right: 40px;
    display: fixed;
}
span{
    background-color: #f5f5f5;

}
footer{
    background-color: #ffff;
    border: solid 1px  #e4d7d7;
    margin-left: 0px;
    margin-right: 0px;
    margin: auto;
    width: 360px;
    height: 40px;
}
.rsenha{
    display: inline;
    margin:auto;
    padding:0px;
    width: 352px;
    height: 30px;
    font-size: 12px;

}
hr{
    width: 289px;
    margin: auto;
}
div.hr{
    width: 289px;
    margin: auto;
    align-items: center;
}
div#sep{
    margin: 2px;
    padding: -2px;
    width: 289px;
    margin: 4px;
}
div.gap{
    width: 360px;
    height: 25px;

}
 